<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'forgotPassword.pageTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="forgot-password-container">
    <div class="header-section">
      <div class="logo">&#128273;</div>
      <h1>{{ 'forgotPassword.title' | translate }}</h1>
      <p class="subtitle">{{ 'forgotPassword.subtitle' | translate }}</p>
    </div>

    <ng-container *ngIf="!emailSent(); else sentBlock">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <ion-item class="input-item" [class.error]="emailControl?.invalid && emailControl?.touched">
          <ion-label position="stacked" class="input-label">{{ 'forgotPassword.email' | translate }}</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="name@example.com"
            autocomplete="email"
            inputmode="email"
          ></ion-input>
          <ion-note slot="error" *ngIf="emailControl?.invalid && emailControl?.touched">
            <span *ngIf="emailControl?.errors?.['required']">{{ 'forgotPassword.emailRequired' | translate }}</span>
            <span *ngIf="emailControl?.errors?.['email']">{{ 'forgotPassword.emailInvalid' | translate }}</span>
          </ion-note>
        </ion-item>

        <div class="actions-section">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="forgotPasswordForm.invalid || isLoading()"
            class="submit-button"
          >
            <ion-spinner *ngIf="isLoading()" name="circles"></ion-spinner>
            <span *ngIf="!isLoading()">{{ 'forgotPassword.sendResetLink' | translate }}</span>
          </ion-button>

          <ion-button
            expand="block"
            fill="clear"
            size="large"
            (click)="goToHome()"
            type="button"
            class="back-button"
          >
            {{ 'forgotPassword.backToLogin' | translate }}
          </ion-button>
        </div>
      </form>
    </ng-container>

    <ng-template #sentBlock>
      <div class="confirmation-box">
        <p>{{ 'forgotPassword.confirmationMsg' | translate }}</p>
        <ion-button expand="block" (click)="goToHome()" class="back-button">{{ 'forgotPassword.backToLogin' | translate }}</ion-button>
      </div>
    </ng-template>
  </div>
</ion-content>
