<ion-content [fullscreen]="true" class="donate-content">
  <div class="donate-container">
    <a routerLink="/home" class="back-link">{{ 'donate.back' | translate }}</a>

    <div class="donate-icon" aria-hidden="true">💛</div>
    <h1>{{ 'donate.title' | translate }}</h1>

    <p class="donate-intro">{{ 'donate.intro' | translate }}</p>
    <p>{{ 'donate.body1' | translate }}</p>
    <p>{{ 'donate.body2' | translate }}</p>

    <div class="donate-coming-soon">
      <span class="coming-soon-badge">{{ 'donate.comingSoonBadge' | translate }}</span>
      <p>{{ 'donate.comingSoonBody' | translate }}</p>
    </div>
  </div>
</ion-content>
