<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CSM Treviso - Monitoraggio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height: 100%; width: 100%;"></div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="aggiungiSegnalazione()" aria-label="Aggiungi segnalazione">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>