<ion-content [fullscreen]="true" class="privacy-content">
  <div class="privacy-container">
    <h1>{{ 'privacy.title' | translate }}</h1>

    <section>
      <p [innerHTML]="'privacy.s1p1' | translate"></p>

      <p [innerHTML]="'privacy.s1p2' | translate"></p>
    </section>

    <section>
      <h2>{{ 'privacy.s2Title' | translate }}</h2>
      <p>{{ 'privacy.s2p1' | translate }}</p>
      <p>{{ 'privacy.s2p2' | translate }}</p>
    </section>

    <section>
      <h2>{{ 'privacy.s3Title' | translate }}</h2>
      <p>{{ 'privacy.s3p1' | translate }}</p>
      <p>{{ 'privacy.s3p2' | translate }}</p>
    </section>

    <section>
      <h2>{{ 'privacy.s4Title' | translate }}</h2>
      <p>{{ 'privacy.s4p1' | translate }}</p>
      <p>{{ 'privacy.s4p2' | translate }}</p>
    </section>

    <section>
      <h2>{{ 'privacy.s5Title' | translate }}</h2>
      <p>{{ 'privacy.s5p1' | translate }}</p>
      <p [innerHTML]="'privacy.s5p2' | translate"></p>
      <p>{{ 'privacy.s5p3' | translate }}</p>
    </section>
  </div>
</ion-content>
