<div class="privacy-banner" *ngIf="visible()">
  <div class="privacy-banner__content">
    <h2>{{ 'privacyBanner.title' | translate }}</h2>
    <p>
      {{ 'privacyBanner.body' | translate }}
    </p>
    <div class="privacy-banner__actions">
      <ion-button fill="outline" size="small" (click)="acceptNecessaryOnly()">
        {{ 'privacyBanner.necessaryOnly' | translate }}
      </ion-button>
      <ion-button size="small" (click)="acceptAll()">
        {{ 'privacyBanner.acceptAll' | translate }}
      </ion-button>
      <a routerLink="/privacy" class="privacy-banner__link">{{ 'privacyBanner.readNotice' | translate }}</a>
    </div>
  </div>
</div>
